.input {
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: calc(100% / 2 - 5px);
    box-sizing: border-box;
    text-align: center;
}

input:nth-child(n + 2) {
    margin-left: 10px;
}